.qna__question___container {
    align-items: left;
    justify-content: left;
    text-align: justify;
    width: 30rem;
}

@media screen and (max-width: 768px) {
    .qna__question___container {
        width: 100%;
    }
}