.menu__link {
    color: #0A4378;
    margin-right: 3.25rem;
    text-decoration: none;
}

.menu__link:hover {
    color: #6f9cc5;
    transition: all .1s ease-in-out;
}

.menu__link:active {
    color: #326391;
    transition: all .1s ease-in-out;
}

@media screen and (max-width: 1080px) {
    .menu__link {
        display: none;
    }
}

.menu__button {
    background-color: #146191;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 4px #646464;
    color: #f9f9f9;
    padding: 1rem 3rem;
    transition: all .1s ease-in-out;
    text-decoration: none;
}

.menu__button:hover {
    background-color: #0f4d74;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 4px #646464;
    color: #f9f9f9;
    padding: 1rem 3rem;
}

.menu__button:active {
    background-color: #01273f;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 4px #ffffff;
    color: #f9f9f9;
    padding: 1rem 3rem;
}

@media screen and (max-width: 1080px) {
    .menu__button {
        padding: 0.75rem 1.75rem;
        font-size: 15px;
    }
}