.about__text {
    padding-left: 90px;
    text-align: justify;
    color: #4b4b4b;
}

@media screen and (max-width: 768px) {
    .about__text {
        padding: 20px 10%;
        font-size: 15px;
    }
}