.about {
    display: flex;
    padding: 7rem 0 4rem 0; 
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .about {
        align-items: center;
        padding: 2rem 0 4rem 0;
    }
}