.about__link {
    background-color: #146191;
    border-radius: 0.75rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    color: #f9f9f9;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: all .1s ease-in-out;
    margin-bottom: 30px;
}

.about__link:hover {
    background-color: #0f4d74;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 4px #252525;
    color: #f9f9f9;
    padding: 1.25rem 1.15rem;
}

.about__link:active {
    background-color: #01273f;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 4px #0A4378;
    color: #f9f9f9;
    padding: 1.25rem 1.15rem;
}

@media screen and (max-width: 768px){
    .about__link {
        font-size: 14px;
    }
}
