.hero {
    background: url('/assets/img/hero.png') no-repeat center / cover;
    box-sizing: content-box;
    display: flex; 
    flex-direction: column;
    height: calc(89.3vh - 24px);
    justify-content: center;  
    box-shadow: 0px 8px 8px #8d8c8c;
}

@media screen and (max-width: 768px) {
    .hero {
        background: url('/assets/img/mobile.png') no-repeat center / cover;
        height: 100vh;
        text-align: center;
    }
  }



