.hero__title--description {
    font-size: 32px;
    margin-bottom: 2rem;
    padding-left: 40%;
    animation: fadeInAnimationDesc ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimationDesc {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media screen and (max-width: 768px) {
    .hero__title--description {
        font-size: 20px;
        padding-left: 0;
    }
}