.hero__link.button {
    background-color: #146191;
    padding: 1rem 3rem; /*apesar de modificar o tamanho do botão, ele permanece esticado*/
    color: #f9f9f9;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 4px #252525;
    text-decoration: none;
    transition: all .1s ease-in-out;
}

.hero__link.button:hover {
    background-color: #0f4d74;
    padding: 1rem 3rem;
    color: #f9f9f9;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 4px #252525;
}

.hero__link.button:active {
    background-color: #01273f;
    padding: 1rem 3rem;
    color: #f9f9f9;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 4px #0A4378;
}