.hero__title--description {
    color: #7ECEFF;
    font-size: 32px;
    margin-bottom: 20px;
    padding-left: 10rem;
    padding-left: 40%;
    padding-right: 20%;
}

@media screen and (max-width: 768px) {
    .hero__title--description {
        padding-left: 10%;
        position: relative;
        font-size: 20px;
    }
}