.hero__button {
    background-color: #146191;
    border-radius: 0.75rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    color: #f9f9f9;
    margin-left: 50%;
    margin-top: 30px;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: all .1s ease-in-out;
    width: 150px;
}

.hero__button:hover {
    background-color: #0f4d74;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 4px #252525;
    color: #f9f9f9;
    padding: 1.25rem 2.25rem;
}

.hero__button:active {
    background-color: #01273f;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 4px #0A4378;
    color: #f9f9f9;
    padding: 1.25rem 2.25rem;
}

@media screen and (max-width: 768px) {
    .hero__button{
        font-size: 14px;
        margin: 10% auto;
    }
    
    .hero__button:hover {
        background-color: #0f4d74;
        border-radius: 0.75rem;
        box-shadow: 2px 2px 4px #252525;
        color: #f9f9f9;
        padding: 1rem 2rem;
    }
    
    .hero__button:active {
        background-color: #01273f;
        border-radius: 0.75rem;
        box-shadow: 2px 2px 4px #0A4378;
        color: #f9f9f9;
        padding: 1rem 2rem;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
    .hero__button {
        margin-left: 40%;
    }
    .hero__button {
        background-color: #0f4d74;
        border-radius: 0.75rem;
        box-shadow: 2px 2px 4px #252525;
        color: #f9f9f9;
        padding: 1rem 2rem;
    }
    
    .hero__button:active {
        background-color: #01273f;
        border-radius: 0.75rem;
        box-shadow: 2px 2px 4px #0A4378;
        color: #f9f9f9;
        padding: 1rem 2rem;
    }
  }