.hero__title--name {
    color: #f9f9f9;
    font-size: 64px;
    padding-left: 30%;
    text-shadow: 3px 2px 1.5px rgba(150, 150, 150, 0.5);
    animation: fadeInAnimationName ease 3s;
    animation-iteration-count: 1;
}
  
@keyframes fadeInAnimationName {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media screen and (max-width: 768px) {
    .hero__title--name {
        font-size: 32px;
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
    .hero__title--name {
        padding-left: 10%;
    }
  }
