.hero__logo___container {
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 3rem;
    position: fixed;
    bottom: 0rem;
    right: 2.5rem;
    justify-content: space-evenly;
}

.hero__logo {
    transition: all .1s ease-in-out;
    width: 2.2rem;
}

.hero__logo:hover {
    width: 2.7rem;
}

@media screen and (max-width: 768px) {
    .hero__logo___container {        
        display: none;
    }
}

@media screen and (max-height: 550px) {
    .hero__logo___container {        
        display: none;
    }
}