.hero {
    box-sizing: content-box;
    display: flex; 
    flex-direction: column;
    height: 100vh;
    justify-content: center;  
    background-color: #051e3f;
}

@media screen and (max-width: 768px) {
    .hero {
        text-align: center;
    }
  }

  @media screen and (max-height: 468px) {
    .hero {
        height: fit-content;
    }
  }

