.hero__title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 30%;
    animation: fadeInAnimationTitle ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimationTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media screen and (max-width: 768px) {
    .hero__title {
        padding: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1150px) {
    .hero__title {
        padding-top: 5rem;
        padding-left: 10%;
    }
  }