.hero__title {
    color: #4D9ED1;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30%;
    padding-right: 20%;
}

@media screen and (max-width: 768px) {
    .hero__title {
        padding-left: 10%;
        margin-top: 200px;
        position: relative;
    }
  }
