.hero__title--name {
    color: #f9f9f9;
    font-size: 64px;
    padding-left: 30%;
    text-shadow: 3px 2px 1.5px #666666;

}

@media screen and (max-width: 768px) {
    .hero__title--name {
        font-size: 32px;
        margin-top: 0px;
        padding-left: 0;
        position: relative;
    }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
    .hero__title--name {
        padding-left: 10%;
    }
  }
