.hero__title--description {
    font-size: 32px;
    margin-bottom: 20px;
    padding-left: 40%;
}

@media screen and (max-width: 768px) {
    .hero__title--description {
        font-size: 20px;
        padding-left: 0;
    }
}