.hero__button___container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50%;
    padding-right: 20%;
}

@media screen and (max-width: 768px) {
    .hero__button___container {
        padding: 10% 0;
    }
    
}