.header {
    background-color: #051e3f;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.50rem 5rem;
    position: sticky;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0.5rem 2rem;
    }
}