.projects {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 8rem 0;
    width: 60rem;
    margin: auto;
}

@media screen and (max-width: 1080px) {
    .projects {
        width: auto;
        margin: 2rem;
    }
}