.projects {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5rem 0 4rem 0;
    width: 60rem;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 970px) {
    .projects {
        width: auto;
    }
  }