.footer__button {
    background-color: #146191;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 4px #222222;
    color: #f9f9f9;
    padding: 1rem 3rem;
    transition: all .1s ease-in-out;
    text-decoration: none;
    margin: 3rem 0 0 0;
}

.footer__button:hover {
    background-color: #0f4d74;
}

.footer__button:active {
    background-color: #01273f;