:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #051e3f;
}

ul {
    list-style-image: url('../../img/arrow.png');
}

h2 {
    color: #7ECEFF;
    text-shadow: 2px 2px 3px #000000;
    border-bottom: solid 0.1rem #0A86D3;
    
    @media screen and (max-width: 768px) {
        h2 {
            font-size: 20px;
        }
    }
}

.button {
    background-color: #146191;
    border-radius: 0.75rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    color: #f9f9f9;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: all .1s ease-in-out;
    font-size: 13px;
    margin-bottom: 0.5rem;
}

.button:hover {
    background-color: #0f4d74;
}

.button:active {
    background-color: #01273f;
}