.header {
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.50rem 5rem;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 1.50rem 1rem;
    }
}