.menu__link {
    color: #7ECEFF;
    margin-right: 2.25rem;
    text-decoration: none;
}

.menu__link:hover {
    color: #6f9cc5;
    transition: all .1s ease-in-out;
}

.menu__link:active {
    color: #326391;
    transition: all .1s ease-in-out;
}

@media screen and (max-width: 1080px) {
    .menu__link {
        display: none;
    }
}
